.x-tabbar-maintab{
	background-color: #111;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FFF), color-stop(2%, #333), color-stop(100%, #111));
	background-image: -webkit-linear-gradient(#111 2%,#171717);
	background-image: linear-gradient(#111 2%,#222);
	border: none !important;
}
.x-tab-maintab{
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	width: 25%;
	height: 3em;
	/*background: #FFF;*/

	padding-top: 0 !important;
}
.x-tab-maintab.x-tab-pressed{
	
}
.maintab .x-button-label{
	margin: 0;
	padding: .1em 0 .2em 0;
	font-size: 9px;
	line-height: 12px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}